<h1>Button Press Logs</h1>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Device ID</th>
    <th>Pressed At</th>
  </tr>
  <% @presses.each do |press| %>
    <tr>
      <td><%= press.id %></td>
      <td><%= press.device_id %></td>
      <td><%= press.pressed_at %></td>
    </tr>
  <% end %>
</table>
